@import '@vuepress/theme-default/lib/client/styles/_variables';

:root {
  iframe { 
    border:0px;
    border-radius: 10px;
  }
  // brand colors
  --c-brand: #000;

  // background colors
  --c-bg: #ffffff;

  // text colors
  --c-text: #000;

  p > a {
    text-decoration: underline;
    font-weight:700;
  }
}

// DARK MODE OVERRIDES

html.dark {
  
  .darkLogo { 
    display:none;
  }
  .lightLogo { 
    display:block;
  }
  // brand colors
  --c-brand: #FFF;

  // background colors
  --c-bg: #000;

  // text colors
  --c-text: #FFF;
}

html { 
  .darkLogo { 
    display:block;
  }
  .lightLogo { 
    display:none;
  }
}